:root {
  --main-font: 'Roboto', sans-serif;
  --secondery-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --button-back-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --body-color: #e5e5e5;
  --timing-funktion: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-white-color);
}

.header .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.header__container {
  min-height: 80px;
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 60px;
}

.title {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: block;
  transition: color var(--timing-funktion);
  color: var(--title-text-color);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__list {
  margin-left: auto;
  display: flex;
}

.contacts__list .contacts__link {
  display: inline-flex;
  align-items: center;
  transition: color var(--timing-funktion);
}

.contacts__list .link:hover,
.contacts__list .link:focus,
.contacts__list .link:hover,
.contacts__list .link:focus {
  color: var(--accent-color);
}

.contacts__list .link {
  color: var(--secondary-text-color);
}

.contacts-tel__item {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color var(--timing-funktion);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  color: var(--accent-color);
}

.contacts__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  padding-bottom: 20px;
}

.logo__footer {
  color: var(--primary-white-color);
}

.logo__header {
  color: #000000;
}

.header__logo {
  color: var(--accent-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  padding-bottom: 20px;
  padding-top: 24px;
  margin-right: 92px;
}

.web-social-icon__list {
  display: flex;
  justify-content: center;
}

.web-social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color var(--timing-funktion), background-color var(--timing-funktion);
}

.team__deskription .web-social__link:hover,
.team__deskription .web-social__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.footer__social-links .web-social__link:hover,
.footer__social-links .web-social__link:focus {
  background-color: var(--accent-color);
}

.footer__social-links .web-social__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.web-social-icon__item:not(:last-child) {
  margin-right: 10px;
}

.web-social-icon__pict {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-btn__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--timing-funktion);
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .address__item {
  color: #ffffff;
}

.footer__box {
  margin-right: 70px;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.address .link {
  color: var(--footer-link-color);
  transition: color var(--timing-funktion);
}

.address__item--contact {
  margin-top: 9px;
}

.address__item--contact .link:hover,
.address__item--contact .link:focus {
  color: var(--accent-color);
}

.address__item--map .address__link {
  color: #ffffff;
}

.describe__box {
  display: flex;
}

.describe__us {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
  outline: none;
}

.describe__us::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.describe-form {
  margin-left: auto;
}

.describe__title {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.describe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.describe__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.join-us {
  font-weight: 700;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-style: bold;
}

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herofon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: var(--primary-white-color);
  transition: var(--timing-funktion);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__list {
  display: flex;
}

.feature__list .feature__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--button-back-color);
}

.feature__list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature__list .feature__textabout {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  min-width: 270px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.about {
  padding-bottom: 94px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
  margin-left: 30px;
}

.about__text {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 97px;
  background-color: var(--button-back-color);
}

.team .section-title {
  margin-bottom: 50px;
}

.team .web-social-icon__list {
  display: flex;
  margin-bottom: 30px;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__list .title {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}

.team__list .team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team__deskription {
  padding: 30px 32px;
  text-align: center;
}

.web-social-icon__pict {
  fill: currentColor;
}

.regular-clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients__list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.regular-clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.regular-clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--timing-funktion), border-color var(--timing-funktion);
}

.regular-clients__link:hover, .regular-clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.regular-clients__logo {
  fill: currentColor;
}

.modal-close__icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.modal-close__icon:hover, .modal-close__icon:focus {
  fill: var(--accent-color);
  transition: var(--timing-funktion);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form__field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--timing-funktion);
  margin-top: 4px;
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  left: 12px;
  transition: fill var(--timing-funktion);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__filling {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--timing-funktion);
  margin-top: 4px;
}

.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__checktext {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__checktext::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  margin-right: 8px;
  cursor: pointer;
}

.modal-form__term:checked + .modal-form__checktext::before {
  background-color: var(--accent-color);
  background-image: url("../images/check-white.svg");
  background-position: center;
  cursor: pointer;
  border-color: var(--accent-color);
}

.modal-form__term:focus + .modal-form__checktext::before {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-check-link {
  color: var(--accent-color);
}

.modal-form__btn {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: var(--primary-white-color);
  transition: var(--timing-funktion);
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */