:root {
  --main-font: 'Roboto', sans-serif;
  --secondery-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --button-back-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --body-color: #e5e5e5;
  --timing-funktion: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--main-font);
  color: var(--secondary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}
/*SBROS*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/*END SBROS*/
/* Visually Hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*HEADER!!*/
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-white-color);
}
.header .container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

/*навигация*/
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: block;
  transition: color var(--timing-funktion);
  color: var(--title-text-color);
}
.active {
  color: var(--accent-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.header .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/*контакты*/
.contacts {
  margin-left: auto;
  display: flex;
}
.header .address-item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.tel-link {
  margin-right: 50px;
}

.contacts .link {
  color: var(--secondary-text-color);
}
.contacts .address-item {
  display: inline-flex;
  align-items: center;
  transition: color var(--timing-funktion);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color var(--timing-funktion);
}

.address-item:hover .header-icon,
.address-item:focus .header-icon {
  color: var(--accent-color);
}
/*Лого*/
.header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 92px;
}
.logo {
  color: var(--accent-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: #000000;
}

/*герой*/
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/herofon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*заголовок*/
.hero-title {
  margin: auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*кнопка в html*/
.main-btn {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: var(--primary-white-color);
  transition: var(--timing-funktion);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--footer-background-color);
}

/*main*/
/*конец хедера!!!!!/

</*особенности!!!!!!*/
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-list .textabout {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  min-width: 270px;
}
.feature-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--button-back-color);
}
/*ПРО НАС!!*/
.about {
  padding-bottom: 94px;
}
.aboutus {
  display: flex;
  justify-content: space-between;
}

.aboutus.about-item:not(:last-child) {
  margin-left: 30px;
}
.about-item {
  position: relative;
}
.aboutus-list {
  font-weight: 700;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*Team*/
.team {
  padding-top: 94px;
  padding-bottom: 97px;
  background-color: var(--button-back-color);
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.position {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.team-list.title {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.team-list-desk {
  padding: 30px 32px;
  text-align: center;
}
.team.section-title {
  margin-bottom: 50px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 60px;
}

.team-list .textabout {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.icon-network-team {
  fill: currentColor;
}
.team-list-desk .social-icon-network:hover,
.team-list-desk .social-icon-network:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.team .web-social-icon {
  margin-bottom: 30px;
}

/*Постоянные клиенты*/
.regular-clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  color: var(--title-text-color);
}
.regular-clients-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.regular-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  flex-basis: calc(100% / 6 - 30px);
}
.clients-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--timing-funktion), border-color var(--timing-funktion);
}
.logo-client {
  fill: currentColor;
}
.clients-list:hover,
.clients-list:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/*Footer*/
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}
.address .link {
  color: var(--footer-link-color);
  transition: color var(--timing-funktion);
}
.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.addresss {
  margin-top: 9px;
}
.address-item {
  color: var(--primary-white-color);
  text-decoration: none;
}
.logo-footer {
  color: var(--primary-white-color);
}
.logo-fut {
  color: var(--accent-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.join-us {
  font-weight: 700;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-style: bold;
}
.footer-address {
  margin-right: 70px;
}
.web-social-icon {
  display: flex;
  justify-content: center;
}
.social-icon-network {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  transition: color var(--timing-funktion),
    background-color var(--timing-funktion);
}

.social-icon:not(:last-child) {
  margin-right: 10px;
}
.social-links .social-icon-network:hover,
.social-links .social-icon-network:focus {
  background-color: var(--accent-color);
}

.social-links .social-icon-network {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
.icon-network {
  fill: var(--primary-white-color);
}
/*END FOOTER!!*/

/*portfolio*/

/*NAVIGATION PORTFOLIO*/
.filter-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.port-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-back-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  cursor: pointer;
  transition: color var(--timing-funktion),
    background-color var(--timing-funktion), box-shadow var(--timing-funktion);
}
.port-button:hover,
.port-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

/*End nav Portfolio*/

/*Projects Portfolio*/

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects-list .position-port {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.title-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.proj-textabout {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.project-link {
  display: block;
  transition: box-shadow var(--timing-funktion);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list-text {
  position: relative;
  overflow: hidden;
}
.overlay-list-text {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--timing-funktion), opacity var(--timing-funktion);
  opacity: 0;
}

.project-link:hover .overlay-list-text,
.project-link:focus .overlay-list-text {
  transform: translateY(-100%);
  opacity: 1;
}

/*Modal BTN*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--timing-funktion);
}
.modal-close-icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}
.describe {
  display: flex;
}
.describe-us {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 16px;
  padding-top: 18px;
  padding-bottom: 12px;
  margin-right: 12px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.describe-form {
  margin-top: 72px;
  margin-bottom: 94px;
  margin-left: auto;
}
.describe-title {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.describe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.describe-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.form-title {
  display: block;
  margin: 40px 40px 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
