:root {
  --main-font: 'Roboto', sans-serif;
  --secondery-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --button-back-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --body-color: #e5e5e5;
}
body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--body-color);
  line-height: 1.71;
  font-weight: 400;
}
/*SBROS*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/*END SBROS*/
/* Visually Hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid firebrick; */
}

/*HEADER!!*/
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-white-color);
}
.header .container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-height: 80px;
}

/*навигация*/
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: block;

  color: var(--title-text-color);
}
.active {
  color: var(--accent-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
/*контакты*/
.contacts {
  margin-left: auto;
  display: flex;
}
.header .address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.tel-link {
  margin-right: 50px;
}

.contacts .link {
  color: var(--secondary-text-color);
}
/*Лого*/
.header .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 92px;
}
.logo {
  color: var(--accent-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: #000000;
}

/*герой*/
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  min-height: 600px;
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*заголовок*/
.hero-title {
  margin: auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*кнопка в html*/
.main-btn {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--footer-background-color);
}
/*main*/
/*конец хедера!!!!!/

</*особенности!!!!!!*/
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-list .textabout {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  min-width: 270px;
}
/*ПРО НАС!!*/
.about {
  padding-bottom: 94px;
}
.aboutus {
  display: flex;
  justify-content: space-between;
}

.aboutus.about-item:not(:last-child) {
  margin-left: 30px;
}

/*Team*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-back-color);
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.position {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}
.team-list.title {
  font-weight: 500;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.team-list-desk {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team.section-title {
  margin-bottom: 50px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 60px;
}

.team-list .textabout {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*footer*/
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address .link {
  color: var(--footer-link-color);
}
.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.addresss {
  margin-top: 9px;
}

.address-item {
  color: var(--primary-white-color);
  text-decoration: none;
}
.logo-footer {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: block;
}
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
/*portfolio*/

/*NAVIGATION PORTFOLIO*/
.filter-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.port-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-back-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  cursor: pointer;
}
.port-button:hover,
.port-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
/*End Navigation Portfolio*/

/*Projects Portfolio*/

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects-list > .position-port {
  flex-basis: calc(100% / 3 -30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project-description {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.title-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.proj-textabout {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
