:root {
  --main-font: 'Roboto', sans-serif;
  --secondery-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --button-back-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--primary-white-color);
  line-height: 1.71;
  font-weight: 400;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/*Лого*/
.logo {
  color: var(--accent-color);

  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: #000000;
}

/*навигация*/

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.active {
  color: #2196f3;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
  /*контакты*/
}
.contacts .link {
  color: var(--secondary-text-color);
}

/*герой*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  /*цвет*/
}

/*кнопка в html*/
.main-btn {
  position: absolute;
  width: 200px;
  left: 700px;
  top: 430px;
  font-size: 16px;
  line-height: 3.12;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--footer-background-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*конец хедера/
/*main*/
.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .textabout {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*Team*/
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .textabout {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-list > .position,
.portfolio-list > .position {
  text-align: center;
}

.projects-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-list .textabout {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.filter-list .filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-back-color);
}
.filter-list .filter-btn:hover,
.filter-list .filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/*footer*/
.footer {
  background-color: var(--footer-background-color);
}
.address .link {
  color: var(--footer-link-color);
}
.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo-footer {
  color: var(--primary-white-color);
}
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
