:root {
  --main-font: 'Roboto', sans-serif;
  --secondery-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --button-back-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --body-color: #f5f4fa;
}
body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--body-color);
  line-height: 1.71;
  font-weight: 400;
}
/*SBROS*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
}
/*END SBROS*/
/* Visually Hidden */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1170px;
  /* outline: 2px solid firebrick; */
}
/*HEADER!!*/
.header {
  display: flex;
  align-items: center;
  border: 1px solid #ececec;
  background-color: var(--primary-white-color);
}
.header .container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  min-height: 80px;
}

/*навигация*/
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.active {
  color: var(--accent-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
/*контакты*/
.contacts {
  margin-left: auto;
  display: flex;
}
.header .address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.tel-link {
  margin-right: 50px;
}

.contacts .link {
  color: var(--secondary-text-color);
}
/*Лого*/
.header .logo {
  margin: 24px 93px 24px 0;
}
.logo {
  color: var(--accent-color);
  font-family: var(--secondery-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: #000000;
}

/*герой*/
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  min-height: 600px;
  width: 1600px;
  padding-top: 199px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
 
}
/*заголовок*/
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*кнопка в html*/
.main-btn {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--footer-background-color);
}
/*main*/
/*конец хедера!!!!!/

</*особенности!!!!!!*/
.feature {
  padding: 94px 0;
  min-width: 270px;
}
.feature-list {
  display: flex;
}

}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .textabout {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-right: 30px;
}

/*ПРО НАС!!*/
.about{
  padding-bottom: 94px;
  }
  .aboutus{
    display: flex;
  justify-content: space-between;
  }
.about.section-title{
  margin-bottom: 50px;
}
.aboutus.about-item{
  width: calc((100% - 30px * 2) / 3);
}
.aboutus.about-item:not(:last-child) {
  margin-right: 30px;
}
/*Team*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list .textabout {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-list > .position,
.portfolio-list > .position {
  text-align: center;
}

.projects-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-list .textabout {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.filter-list .filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-back-color);
}
.filter-list .filter-btn:hover,
.filter-list .filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/*footer*/
.footer {
  background-color: var(--footer-background-color);
}
.address .link {
  color: var(--footer-link-color);
}
.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-item {
  color: var(--primary-white-color);
  text-decoration: none;
}
.logo-footer {
  color: var(--primary-white-color);
}
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
