.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature__list {
  display: flex;

  .feature__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--button-back-color);
  }

  .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }
  .feature__textabout {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    min-width: 270px;
  }
}

.feature__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
