.contacts__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-direction: column;
  }
  .contacts__icon {
    margin-right: 10px;
    fill: #757575;
    &:hover,
    &:focus {
      fill: var(--accent-color);
      transition: fill var(--timing-funktion);
    }
  }

  .contacts__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: color var(--timing-funktion);
    }
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
// @media screen and (min-width: 1200px) {
//   .contacts__list {
//     margin-left: auto;
//     display: flex;
//     .contacts__link {
//       display: inline-flex;
//       align-items: center;
//       transition: color var(--timing-funktion);
//     }
//     .link:hover,
//     .link:focus,
//     .link:hover,
//     .link:focus {
//       color: var(--accent-color);
//     }
//     .link {
//       color: var(--secondary-text-color);
//     }
//   }
//   .contacts__item:first-child {
//     margin-right: 50px;
//   }
//   .contacts__icon {
//     margin-right: 10px;
//     fill: currentColor;
//     transition: color var(--timing-funktion);
//     .contacts__link:hover &,
//     .contacts__link:focus & {
//       color: var(--accent-color);
//     }
//   }
//   .contacts__link {
//     position: relative;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     letter-spacing: 0.02em;
//     color: var(--secondary-text-color);
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     text-decoration: none;
//   }
// }
//   .contacts__list {
//     flex-direction: row-reverse;
//     margin-left: auto;

//     margin-left: auto;
//     .contacts__link {
//       display: flex;
//       align-items: center;
//     }
//   }
//   .contact__item:last-child {
//     margin-bottom: 0;
//     margin-right: 30px;
//   }
//   .contacts__item:first-child {
//     margin-right: 50px;
//   }
// }
//   .contacts__list {
//     margin-left: auto;
//     display: flex;
//     .contacts__link {
//       display: inline-flex;
//       align-items: center;
//       transition: color var(--timing-funktion);
//     }
//     .contacts__icon {
//       margin-right: 8px;
//       fill: currentColor;
//       transition: color var(--timing-funktion);
//       .contacts__link:hover &,
//       .contacts__link:focus & {
//         color: var(--accent-color);
//       }
//     }

//     .link:hover,
//     .link:focus,
//     .link:hover,
//     .link:focus {
//       color: var(--accent-color);
//     }
//     .link {
//       color: var(--secondary-text-color);
//     }
//   }
//   .contacts__item:first-child {
//     margin-right: 50px;
//   }

//   .contacts__link {
//     position: relative;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.1;
//     letter-spacing: 0.02em;
//     color: var(--secondary-text-color);
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     text-decoration: none;
//   }
// }
// // .contacts__list {
// //   margin-left: auto;
// //   display: flex;
// //   .contacts__link {
// //     display: inline-flex;
// //     align-items: center;
// //     transition: color var(--timing-funktion);
// //   }
// //  .contacts__icon {
// //     margin-right: 8px;
// //     fill: currentColor;
// //     transition: color var(--timing-funktion);
// //     .contacts__link:hover &,
// //     .contacts__link:focus & {
// //       color: var(--accent-color);
// //     }
// //   }

// //   .link:hover,
// //   .link:focus,
// //   .link:hover,
// //   .link:focus {
// //     color: var(--accent-color);
// //   }
// //   .link {
// //     color: var(--secondary-text-color);
// //   }
// // }
// // .contacts__item:first-child {
// //   margin-right: 50px;
// // }

// // .contacts__link {
// //   position: relative;
// //   font-weight: 500;
// //   font-size: 14px;
// //   line-height: 1.1;
// //   letter-spacing: 0.02em;
// //   color: var(--secondary-text-color);
// //   display: block;
// //   padding-top: 32px;
// //   padding-bottom: 32px;
// //   text-decoration: none;
// // }
