.contacts {
  margin-left: auto;
  display: flex;
  .contacts-item {
    display: inline-flex;
    align-items: center;
    transition: color var(--timing-funktion);
  }

  .link:hover,
  .link:focus,
  .link:hover,
  .link:focus {
    color: var(--accent-color);
  }
  .link {
    color: var(--secondary-text-color);
  }
}

.tel-link {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color var(--timing-funktion);
  .contacts-item:hover &,
  .contacts-item:focus & {
    color: var(--accent-color);
  }
}

.contacts-item {
  color: var(--primary-white-color);
  text-decoration: none;
}
