.contacts {
  margin-left: auto;
  display: flex;
}
.header .address-item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.tel-link {
  margin-right: 50px;
}

.contacts .link {
  color: var(--secondary-text-color);
}
.contacts .address-item {
  display: inline-flex;
  align-items: center;
  transition: color var(--timing-funktion);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color var(--timing-funktion);
}

.address-item:hover .header-icon,
.address-item:focus .header-icon {
  color: var(--accent-color);
}