.footer {
  background-color: var(--footer-background-color);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      width: 50%;
      margin-bottom: 0;
    }
  }
  .address__item {
    color: #ffffff;
    .address__item--map {
      .address__link {
        color: #ffffff;
      }
    }
  }
}
//   padding-top: 60px;
//   padding-bottom: 60px;
//   .container {
//     display: flex;
//     align-items: baseline;
//   }

//
// }
// .footer__box {
//   margin-right: 70px;
// }

// .address {
//   font-style: normal;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   font-size: 14px;
//   .link {
//     color: var(--footer-link-color);
//     transition: color var(--timing-funktion);
//   }
// }
// .address__item--contact {
//   margin-top: 9px;
//   .link:hover,
//   .link:focus {
//     color: var(--accent-color);
//   }
// }

// .address__item--map {
//   .address__link {
//     color: #ffffff;
//   }
// }
