.footer {
  background-color: #2f303a;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      width: 50%;
      margin-bottom: 0;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
      align-items: flex-start;
    }
  }

  // &__subscription {
  //   @media screen and (min-width: 1200px) {
  //     width: 45%;
  //   }
  // }
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  .link {
    transition: color var(--timing-funktion);
  }
}
.address__link {
  color: #ffffff;
}
.address__item {
  margin-bottom: 8px;
}
.address__item--contact {
  text-align: center;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color var(--timing-funktion);
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.address__link--contact {
  color: rgba(255, 255, 255, 0.6);
}

// .footer__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @media screen and (min-width: 1200px) {
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: baseline;
//   }
// }
// .footer__box {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-bottom: 60px;
//   @media screen and (min-width: 768px) {
//     margin-bottom: 0;
//   }

//   @media screen and (min-width: 1200px) {
//     align-items: flex-start;
//   }
// }

//
//  display: flex;
//   align-items: center;
//   flex-direction: column;
//   margin-bottom: 60px;
//   width: 100%;
// }

//   padding-bottom: 60px;
//   .container {
//     display: flex;
//     align-items: baseline;
//   }

//
// }
// .footer__box {
//   margin-right: 70px;
// }

// }
// .address__item--contact {
//   margin-top: 9px;
//   .link:hover,
//   .link:focus {
//     color: var(--accent-color);
//   }
// }

// .address__item--map {
//   .address__link {
//     color: #ffffff;
//   }
// }
