.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: flex;
    align-items: baseline;
  }

  .address__item {
    color: #ffffff;
  }
}
.footer-address {
  margin-right: 70px;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  .link {
    color: var(--footer-link-color);
    transition: color var(--timing-funktion);
  }
}
.address__contact {
  margin-top: 9px;
  .link:hover,
  .link:focus {
    color: var(--accent-color);
  }
}

.address-map {
  .address__item {
    color: #ffffff;
  }
}
