.header__container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and(min-width: 480px) {
  .header__container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and(min-width: 768px) {
  .header__container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and(min-width: 1200) {
  .header__container {
    min-height: 80px;
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.burger__button {
  background-color: transparent;
  padding: 0;
  border: none;
}
.burger__icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}
// .header {
//   display: flex;
//   align-items: center;
//   border-bottom: 1px solid #ececec;
//   background-color: var(--primary-white-color);
// }
// .header__container {
//   min-height: 80px;
//   display: flex;
//   align-items: center;
//   width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }
