.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 2950ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}
.is-open {
  transform: translateY(0) translateX(-50%);
}
.mobile-menu-close__button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.mobile-menu-close__icon {
  width: 40px;
  height: 40px;
  fill: #212121;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  transition: fill var(--timing-funktion);
}

.mobile-menu__list {
  margin-bottom: 290px;
}
.mobile-menu__item {
  /* margin-top: 48px;
  margin-left: 40px;*/
  &:nth-child(-n + 2) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  position: relative;
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color var(--timing-funktion);
  }
}
.mobile-menu-contacts__list {
  margin-bottom: 64px;
}
.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu-contacts__link--active {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-menu-networks__list {
  display: flex;
  margin-bottom: 48px;
}

.mobile-menu-networks__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu-networks__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-networks__item:not(:first-child) {
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .burger__button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
